<section class="mainSection">
    <mat-card>
        <div class="demo-button-container">
            <button mat-raised-button class="add-button" (click)="onAddItemClicked()">
              Add Item
            </button>
        </div>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" width="100%" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID.</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
           <!-- Weight Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngFor="let category of categories">
                      <span *ngIf="category.id == element.sourceID">{{category.name}}</span>
                    </span>
                </td>
              </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
          
           
            
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="publishedAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Published At</th>
              <td mat-cell *matCellDef="let element">{{element.publishedAt | date}}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onItemRowClicked(row.id)"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </mat-card>
</section>