.mainSection{
    margin-top: 118px;
}
.mat-card {
    margin: 49px 49px;
}
.demo-button-container{
    margin: 15px 0;
    float: right;
    .add-button{
        background-color: cornflowerblue;
        color:white;
    }
}
.mat-form-field {
    width: 100%;
}
.mat-row:hover .mat-cell {
    border-color: currentColor;
    background-color: #87ceeb45;
    cursor: pointer;
}
  
