<section class="mainSection">
    <mat-card>
        <div>
            <h1>
                <button mat-button class="back-button" (click)="backToList()">
                    <i class="fas fa-arrow-left"></i>
                </button>
                Add New Item
            </h1>
        </div>
        <div class="form-container">
            <form [formGroup]="itemForm">
                <!-- title field -->
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Title</mat-label>
                    <textarea matInput class="form-control"></textarea>
                </mat-form-field>
                <!-- category field -->
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- description field -->
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <div class="text-center">
                    <button mat-button  class="submitBtn" (click)="SubmitItem()">Submit</button>
                </div>
            </form>
        </div>
    </mat-card>
</section>