.mainSection{
    margin-top: 118px;
}
.mat-card {
    margin: 49px 49px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}
.back-button{
    .fa-arrow-left{
        font-size: 37px;
        color: skyblue;
    }
}
button.mat-focus-indicator.submitBtn.mat-button.mat-button-base{
    background: cornflowerblue !important;
    color: white !important;
}