
* {
    font-family: Open Sans, sans-serif !important; 
    /* Add !important to overwrite all elements */
    color: #565960;
}

div.footerContainer{
    width: 100%;
    position: relative;
    // height: 40vh;
    min-height: 40vh;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.second-section{
    background-color: #87ceeb;
    padding: 16px;
    color: white;
}
::ng-deep .mat-body, 
::ng-deep .mat-body-1,
::ng-deep .mat-typography {
    font: 400 14px/20px Open Sans;
    letter-spacing: normal;
}