<div class="footerContainer">
    <footer>
        <div class="second-section text-center">
            All Rights Reserved - Sample Development Company &copy; 2021
        </div>
    </footer>
</div>