li{
    list-style-type: none;
    font-size: 25px;
    font-weight: bolder;
    a {
        color: #f8f9fa;
        text-decoration: none;
    }
    a.active{
        color: cornflowerblue;
    }
}

.sideMenu{
    background-color: #87ceeb;
    position: fixed;
    top: 85px;
    width: 250px;
}
.sideMenuClosed{
    background-color: #87ceeb;
    position: fixed;
    top: 85px;
    width: 85px;
}
.child-list{
    padding-left: 0;
    padding-right: 40px;
    line-height: 1.4;
    li{
        font-size: small;
        font-size: 16px;
        color: #ffffff99;
        font-weight: normal;
        a {
            color: #f8f9fa;
            text-decoration: none;
        }
        a.active{
            color: cornflowerblue;
        }
    }
}
ul{
    line-height: 2;
}
.row {
    --bs-gutter-x: 0;
    margin-top: 2em;
}
.social-col{
    align-self: flex-end;
}