<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav opened mode="side" [ngClass]="opened ? 'sideMenu' : 'sideMenuClosed'">
        <!-- [(opened)]="opened" -->
        <div class="row">
            <div class="col-3 social-col">
                <ul>
                    <li><a [routerLink]="['/item-list']" routerLinkActive="router-link-active active" [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-chart-bar"></i></a></li>
                    
                </ul>
            </div>
            <div class="col-9" *ngIf="opened">
                <ul>
                    <li><a [routerLink]="['/item-list']" routerLinkActive="router-link-active active" [routerLinkActiveOptions]="{exact:true}">Item List</a></li>
                </ul>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
            
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>