.mainSection{
    margin-top: 118px;
}
.mat-card {
    margin: 49px 49px;
}
img.itemImg {
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px #100f0f9e;
}
.row{
    margin-bottom: 5em;
}

.back-button{
    .fa-arrow-left{
        font-size: 37px;
        color: skyblue;
    }
}
.info-col{
    line-height: 4;
    margin-top: 10%;
    .category, .date{
        label{
            font-size: 15px;
            font-weight: 600;
            color: cornflowerblue;
        }
    }
}
hr{
    color: cornflowerblue;
    height: 5px;
}
h1{
    color: cornflowerblue;
    font-weight: 700;
}