<section class="mainSection">
    <mat-card>
        <div class="row">
            <div class="col-6">
                
                <h1> 
                    <button mat-button class="back-button" (click)="backToList()">
                    <i class="fas fa-arrow-left"></i>
                    </button>
                    {{itemDetails.title}}
                </h1>
                <img class="itemImg" [src]="itemDetails.urlToImage">
            </div>
            <div class="col-6 info-col">
                <div class="category">
                    <label>Category : </label> 
                    <span *ngFor="let category of categories">
                        <span *ngIf="category.id == itemDetails.sourceID">
                            {{category.name}}
                        </span>
                    </span>
                </div>
                <div class="date">
                    <label>Publish Date : </label> <span>
                        {{itemDetails.publishedAt | date}}
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h1>DISCRIPTION : </h1>
                <P>
                    {{itemDetails.content}}
                </P>
            </div>
        </div>
    </mat-card>
</section>