<div>
    <mat-toolbar class="toolbar-bg">
      <button class="menu-btn" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
        <mat-icon *ngIf="!opened">menu</mat-icon>
          <div *ngIf="opened">
            <i  class="fas fa-times"></i>
          </div>
      </button>
      <span class="logo">
          LOGO PLACE
      </span>
      <span class="example-spacer"></span>
      <!-- <button *ngIf="!isSearch" mat-icon-button class="example-icon search favorite-icon" aria-label="Example icon-button with heart icon" (click)="onShowSearchInput()">
        <mat-icon>search</mat-icon>
      </button> -->
      <!-- <mat-form-field *ngIf="isSearch">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput type="search" placeholder="search here" class="search-input">
      </mat-form-field> -->
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <i class="fas fa-bell"></i>
      </button>
      <div class="profile">
        <img src="./assets/images/img2.png" class="profile-image">
        <span>username</span>
      </div>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <i class="fas fa-cog"></i>
     </button>
  </mat-toolbar>
</div>