.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 16px 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background: aquamarine;
}

button.example-icon {
    background: transparent;
    border: 0;
    color: white;
}
.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 45px;
}
span.logo {
    font-size: 23px;
    font-family: math;
    font-weight: 700;
    color: white;
}
.toolbar-bg{
    background-color: #87ceeb;
    height: 85px;
    padding: 0 18px;
    position: fixed;
    z-index: 18;
}
.fa-times{
    font-size: 45px;
    color: white;
}
.fa-bell, .fa-cog{
    font-size: 25px;
}
.logo{
    margin-left: 45px;
}
.menu-btn{
    border: none;
    background-color: transparent;
}
.search-input{
    transition: width 0.4s ease-in-out;
}
.search{
    transition: width 0.4s ease-in-out;
}
.profile{
    margin: 0 35px;
    span{
        color: white;
    }
}
.profile-image{
    width: 50px;
    height: 50px;
    margin: 0 12px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000054;
}